node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea
.vscode
.fleet

# Test
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
ia_server/resources/frWac_no_postag_phrase_500_cbow_cut100.bin
ia_server/resources/frWac_non_lem_no_postag_no_phrase_200_cbow_cut100.bin
ia_server/resources/omw-fr.xml

# Local environment overrides
.env.local
