@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'RedditSans';
		src: url('/fonts/Reddit_Sans/RedditSans.ttf');
		font-weight: normal;
		font-style: normal;
	}

	h1 {
		@apply p-4 text-5xl text-center;
	}

	input {
		@apply bg-transparent;
	}

	textarea {
		@apply bg-transparent;
	}

	select {
		@apply bg-transparent;
	}
}
